*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url('images/index.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

.imginfo{
    color: white;
}